In [1]:
import pandas as pd
import numpy as np

In [2]:
arr = np.zeros(10)

In [3]:
for i in range(10):
    arr[i] = i*2

In [7]:
arrdf = pd.Series(arr)

In [12]:
arrdf.to_csv('arr.csv', index=False)

In [13]:
df = pd.read_csv('arr.csv')

In [14]:
df

    0.0
0   2.0
1   4.0
2   6.0
3   8.0
4  10.0
5  12.0
6  14.0
7  16.0
8  18.0